.matchFormContent {
  width: 100%;
  margin: 0 auto;
}
.matchFormContent .formDiv {
  width: 60vh;
  margin: 10px auto;
  padding: 10px 10px 10px 20px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 2%;
}
.matchFormContent .formDiv form {
  display: flex;
  justify-content: space-between;
}
.matchFormContent .formDiv form input {
  width: 60%;
  border-radius: 25px;
  border: none;
}
.matchFormContent .formDiv form input::-moz-placeholder {
  color: black;
  padding: 30%;
}
.matchFormContent .formDiv form input::placeholder {
  color: black;
  padding: 30%;
}
.matchFormContent .formDiv form button {
  border-radius: 35px;
  margin: 0 10px;
  padding: 5px 10px;
  transition: 0.2s;
  margin-left: 20px;
}
.matchFormContent .divPlayers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2% auto;
  width: 50vh;
}
.matchFormContent .divPlayers h5 {
  margin: 0;
}
.matchFormContent .divPlayers div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
}
.matchFormContent .divPlayers div h5 {
  margin: 0 0 0 5%;
  padding: 10px;
}
.matchFormContent .divPlayers div button {
  border-radius: 35px;
  margin: 0 10px;
  padding: 5px 10px;
  transition: 0.2s;
}
.matchFormContent .divGame .gameForm {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
}
.matchFormContent .divGame .gameForm .gameDiv {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 80%;
  align-items: center;
  flex-wrap: wrap;
}
.matchFormContent .divGame .gameForm .gameDiv p {
  font-size: 1.4rem;
  margin-bottom: 1%;
}
.matchFormContent .divGame .gameForm .gameDiv input {
  border-radius: 25px;
  border: none;
  padding: 5px;
}
.matchFormContent .divGame .gameForm .gameDiv input::-moz-placeholder {
  color: black;
}
.matchFormContent .divGame .gameForm .gameDiv input::placeholder {
  color: black;
}
.matchFormContent .divGame .gameForm .gameDiv .divPlayerGame {
  margin-top: 2%;
  padding: 20px;
  border-style: solid;
  border-radius: 15px;
}
.matchFormContent .divGame .gameForm button {
  border-radius: 35px;
  width: 50%;
  margin: 0 10px;
  padding: 10px 10px;
  transition: 0.2s;
  margin-top: 5%;
  font-weight: 600;
}
.matchFormContent .bar {
  margin-top: 3%;
  height: 6px;
  width: 70%;
  border-radius: 35px;
  border: none;
}
.matchFormContent .bar2 {
  margin-top: 3%;
  height: 4px;
  width: 50%;
  border-radius: 35px;
  border: none;
}
.matchFormContent .bar3 {
  height: 3px;
  width: 40%;
  border-radius: 35px;
  border: none;
}
.matchFormContent .bar4 {
  height: 2px;
  width: 40%;
  border-radius: 35px;
  border: none;
}
.matchFormContent .pointDisplay {
  width: 60vh;
  margin: 3% auto;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-radius: 15px;
}

.CM1-divPlayers {
  background-color: #DBAFA0;
}

.CM2-divPlayers {
  background-color: #F806CC;
}

.CM3-divPlayers {
  background-color: #df38aa;
}

.CM1-divPlayers:hover h5 {
  color: #49243E;
}

.CM2-divPlayers:hover h5 {
  color: #2E0249;
}

.CM3-divPlayers:hover h5 {
  color: #030637;
}

.CM1-formDiv {
  border-color: #eac5b9;
}

.CM2-formDiv {
  border-color: #ff6de4;
}

.CM3-formDiv {
  border-color: #f177ca;
}

.CM1-btnDelete {
  background-color: #704264;
  border: #49243E;
  box-shadow: 0px 0px 0px 2px #49243E;
  color: #eac5b9;
}

.CM2-btnDelete {
  background-color: #570A57;
  border: #2E0249;
  box-shadow: 0px 0px 0px 2px #2E0249;
  color: #ff6de4;
}

.CM3-btnDelete {
  background-color: #4d0a6a;
  border: #030637;
  box-shadow: 0px 0px 0px 2px #030637;
  color: #f177ca;
}

.CM1-btnDelete:hover, .CM2-btnDelete:hover, .CM3-btnDelete:hover {
  scale: 1.1;
  transition: 0.2s;
  color: white;
}

.CM1-h5Py {
  color: #704264;
}

.CM2-h5Py {
  color: #570A57;
}

.CM3-h5Py {
  color: #4d0a6a;
}

.CM1-btnAdd {
  color: #49243E;
  background-color: #eac5b9;
  border: #BB8493;
  box-shadow: 0px 0px 0px 2px #BB8493;
}

.CM2-btnAdd {
  color: #2E0249;
  background-color: #ff6de4;
  border: #A91079;
  box-shadow: 0px 0px 0px 2px #A91079;
}

.CM3-btnAdd {
  color: #030637;
  background-color: #f177ca;
  border: #b7128b;
  box-shadow: 0px 0px 0px 2px #b7128b;
}

.CM1-btnAdd:hover, .CM2-btnAdd:hover, .CM3-btnAdd:hover {
  scale: 1.02;
  transition: 0.2s;
  font-weight: 600;
}

.CM1-btnAdd:hover {
  color: #FF6F61;
}

.CM2-btnAdd:hover {
  color: #FFD700;
}

.CM3-btnAdd:hover {
  color: #00CFFD;
}

.CM1-inputAdd {
  color: #49243E;
  background-color: #DBAFA0;
  border: #BB8493;
  box-shadow: 0px 0px 0px 2px #704264;
}

.CM2-inputAdd {
  color: #2E0249;
  background-color: #F806CC;
  border: #A91079;
  box-shadow: 0px 0px 0px 2px #570A57;
}

.CM3-inputAdd {
  color: #030637;
  background-color: #df38aa;
  border: #b7128b;
  box-shadow: 0px 0px 0px 2px #4d0a6a;
}

.CM1-bar {
  background-color: #BB8493;
  color: #BB8493;
}

.CM2-bar {
  background-color: #A91079;
  color: #A91079;
}

.CM3-bar {
  background-color: #b7128b;
  color: #b7128b;
}

.CM1-pointDisplay {
  border-color: #FF6F61;
}

.CM2-pointDisplay {
  border-color: #FFD700;
}

.CM3-pointDisplay {
  border-color: #00CFFD;
}

.CM1-divPlayerGame {
  border-color: #FF6F61;
}

.CM2-divPlayerGame {
  border-color: #FFD700;
}

.CM3-divPlayerGame {
  border-color: #00CFFD;
}

.CM1-btnCalculate {
  color: #49243E;
  background-color: #BB8493;
  border: #BB8493;
  box-shadow: 0px 0px 0px 2px #704264;
}

.CM2-btnCalculate {
  color: #2E0249;
  background-color: #A91079;
  border: #A91079;
  box-shadow: 0px 0px 0px 2px #570A57;
}

.CM3-btnCalculate {
  color: #030637;
  background-color: #b7128b;
  border: #b7128b;
  box-shadow: 0px 0px 0px 2px #4d0a6a;
}

.CM1-btnCalculate:hover, .CM2-btnCalculate:hover, .CM3-btnCalculate:hover {
  scale: 1.05;
  transition: 0.2s;
}

.CM1-btnCalculate:hover {
  background-color: #FF6F61;
  font-weight: 800;
}

.CM2-btnCalculate:hover {
  background-color: #FFD700;
  font-weight: 800;
}

.CM3-btnCalculate:hover {
  background-color: #00CFFD;
  font-weight: 800;
}

@media (max-width: 480px) {
  .matchFormContent .formDiv {
    width: 30vh;
  }
  .matchFormContent .formDiv form input::-moz-placeholder {
    color: black;
    padding: 10%;
  }
  .matchFormContent .formDiv form input::placeholder {
    color: black;
    padding: 10%;
  }
  .matchFormContent .divPlayers {
    width: 35vh;
  }
  .matchFormContent .pointDisplay {
    width: 30vh;
    margin: 5% auto;
  }
}/*# sourceMappingURL=matchForm.css.map */