@use '../../styles/colours.scss' as a;

.matchFormContent {
    width: 100%;
    margin: 0 auto;
    .formDiv {
        width: 60vh;
        margin: 10px auto;
        padding: 10px 10px 10px 20px;
        border-style: solid;
        border-radius: 15px;
        form{
            display: flex;
            justify-content: space-between;
            input{
                width: 60%; 
                border-radius: 25px;
                border: none;
            }
            input::placeholder{
                color: black;
                padding: 30%;
            }
            
            button{
                border-radius: 35px;
                margin: 0 10px;
                padding: 5px 10px;
                transition: 0.2s;
                margin-left: 20px;
            }
            
        }
        margin-bottom: 2%;
    }
    .divPlayers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 2% auto;
        width: 50vh;
        h5{
            margin: 0;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 35px;
            
            h5{
                margin:0 0 0 5%;
                padding: 10px;

            }
            button{
                border-radius: 35px;
                margin: 0 10px;
                padding: 5px 10px;
                transition: 0.2s;
            }
        }
    }
    .divGame{
        .gameForm{
            display: flex;
            flex-direction: column;
            gap: 10%;
            align-items: center;
            .gameDiv{
                justify-content: center;
                display: flex;
                flex-direction: row;
                gap: 10%;
                width: 80%;
                align-items: center;
                flex-wrap: wrap;
                p{
                    font-size: 1.4rem;
                    margin-bottom: 1%;
                }
                input{
                    border-radius: 25px;
                    border: none;
                    padding: 5px;
                }
                input::placeholder{
                    color: black;
                }
            }
            button{
                border-radius: 35px;
                width: 50%;
                margin: 0 10px;
                padding: 10px 10px;
                transition: 0.2s;
                margin-top: 5%;
                font-weight: 600;
            }
        }
    }
    .bar{
        margin-top: 3%;
        height: 6px;
        width: 70%;
        border-radius: 35px;
        border: none;
    }
    .bar2{
        margin-top: 3%;
        height: 4px;
        width: 50%;
        border-radius: 35px;
        border: none;
    }
    .bar3{
        height: 3px;
        width: 40%;
        border-radius: 35px;
        border: none;
    }
    .bar4{
        height: 2px;
        width: 40%;
        border-radius: 35px;
        border: none;
    }
    .pointDisplay{
        width: 60vh;
        margin: 3% auto;
        padding: 10px 10px 10px 20px;
        border-style: solid;
        border-radius: 15px;
    }
}

.CM1-divPlayers {
    background-color: a.$CM1-Light;
}
.CM2-divPlayers {
    background-color: a.$CM2-Light;
}
.CM3-divPlayers {
    background-color: a.$CM3-Light;
}
.CM1-divPlayers:hover {
    h5{
        color:a.$CM1-Bg;
    }

}
.CM2-divPlayers:hover {
    h5{
        color:a.$CM2-Bg;
    }

}
.CM3-divPlayers:hover {
    h5{
        color:a.$CM3-Bg;
    }
}

.CM1-formDiv {
    border-color: a.$CM1-Light2;
}
.CM2-formDiv {
    
    border-color: a.$CM2-Light2;
}
.CM3-formDiv {
    border-color: a.$CM3-Light2;
}


.CM1-btnDelete {
    background-color: a.$CM1-Dark;
    border: a.$CM1-Bg;
    box-shadow: 0px 0px 0px 2px a.$CM1-Bg;
    color: a.$CM1-Light2;

}
.CM2-btnDelete {
    background-color: a.$CM2-Dark;
    border: a.$CM2-Bg;
    box-shadow: 0px 0px 0px 2px a.$CM2-Bg;
    color: a.$CM2-Light2;

}
.CM3-btnDelete {
    background-color: a.$CM3-Dark;
    border: a.$CM3-Bg;
    box-shadow: 0px 0px 0px 2px a.$CM3-Bg;
    color: a.$CM3-Light2;

}

.CM1-btnDelete:hover, .CM2-btnDelete:hover, .CM3-btnDelete:hover {
    scale: 1.1;
    transition: 0.2s;
    color: white;
}

.CM1-h5Py {
    color: a.$CM1-Dark;
}
.CM2-h5Py {
    color: a.$CM2-Dark;
}
.CM3-h5Py {
    color: a.$CM3-Dark;
}

.CM1-btnAdd {
    color: a.$CM1-Bg;
    background-color: a.$CM1-Light2;
    border: a.$CM1-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM1-Neutro;
}
.CM2-btnAdd {
    color: a.$CM2-Bg;
    background-color: a.$CM2-Light2;
    border: a.$CM2-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM2-Neutro;
}
.CM3-btnAdd {
    color: a.$CM3-Bg;
    background-color: a.$CM3-Light2;
    border: a.$CM3-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM3-Neutro;
}
.CM1-btnAdd:hover,.CM2-btnAdd:hover  ,.CM3-btnAdd:hover {
    scale: 1.02;
    transition: 0.2s;
    font-weight: 600;
}
.CM1-btnAdd:hover{
    color: a.$CM1-Acent;
}
.CM2-btnAdd:hover{
    color: a.$CM2-Acent;
}
.CM3-btnAdd:hover{
    color: a.$CM3-Acent;
}

.CM1-inputAdd {
    color: a.$CM1-Bg;
    background-color: a.$CM1-Light;
    border: a.$CM1-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM1-Dark;
}
.CM2-inputAdd {
    color: a.$CM2-Bg;
    background-color: a.$CM2-Light;
    border: a.$CM2-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM2-Dark;
}
.CM3-inputAdd {
    color: a.$CM3-Bg;
    background-color: a.$CM3-Light;
    border: a.$CM3-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM3-Dark;
}


.CM1-bar{
    background-color: a.$CM1-Neutro;
    color: a.$CM1-Neutro;

}
.CM2-bar{
    background-color: a.$CM2-Neutro;
    color: a.$CM2-Neutro;
}
.CM3-bar{
    background-color: a.$CM3-Neutro;
    color: a.$CM3-Neutro;

}

.CM1-pointDisplay{
    border-color: a.$CM1-Acent;
}
.CM2-pointDisplay{
    border-color: a.$CM2-Acent;

}
.CM3-pointDisplay{
    
    border-color: a.$CM3-Acent;

}


.CM1-btnCalculate {
    color: a.$CM1-Bg;
    background-color: a.$CM1-Neutro;
    border: a.$CM1-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM1-Dark;
}
.CM2-btnCalculate {
    color: a.$CM2-Bg;
    background-color: a.$CM2-Neutro;
    border: a.$CM2-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM2-Dark;
}
.CM3-btnCalculate {
    color: a.$CM3-Bg;
    background-color: a.$CM3-Neutro;
    border: a.$CM3-Neutro;
    box-shadow: 0px 0px 0px 2px a.$CM3-Dark;
}



.CM1-btnCalculate:hover,.CM2-btnCalculate:hover  ,.CM3-btnCalculate:hover {
    scale: 1.05;
    transition: 0.2s;
}
.CM1-btnCalculate:hover{
    background-color:a.$CM1-Acent;
    font-weight: 800;
    
}
.CM2-btnCalculate:hover{
    background-color:a.$CM2-Acent;
    font-weight: 800;

}
.CM3-btnCalculate:hover{
    background-color:a.$CM3-Acent;
    font-weight: 800;
}