@use '../../styles/colours.scss' as a;


.pointDisplayContent{
    background-color: 1;
}

.pointsDiv2{
    .winnerDiv{
    background-color: 1;
    }
    .loosersDiv{
        .loosersDiv1{
            background-color: 1;
        }
    }
}