@use './colours.scss' as a;


.App {
    text-align: center;
    width: 100% ;
    overflow-x: hidden;
  }
  
  
  
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


//cm1
.CM1-h1, .CM1-h3Py, .CM1-a{
    color: a.$CM1-Acent;
    
}
.CM1-h2,.CM1-h3,.CM1-h4,.CM1-h5,.CM1-h6,.CM1-p{
    color: a.$CM1-Light;

}
.CM1-input{
    background-color: a.$CM1-Neutro;

}
.CM1-h5Py{
    color: a.$CM1-Light;

}

//cm2

.CM2-h1, .CM2-h3Py, .CM2-a{
    color: a.$CM2-Acent;
}
.CM2-h2, .CM2-p, .CM2-h3, .CM2-h4, .CM2-h5, .CM2-h6 {
    color: a.$CM2-Light;

}
.CM2-input{
    background-color: a.$CM2-Neutro;
    
}
.CM2-h5Py{
    color: a.$CM2-Light;

}



//cm3
.CM3-h1, .CM3-h3Py, .CM3-a{
    color: a.$CM3-Acent;
}
.CM3-h2, .CM3-p, .CM3-h3, .CM3-h4, .CM3-h5, .CM3-h6{
    color: a.$CM3-Light;
}

.CM3-input{
    background-color: a.$CM3-Neutro;
}
.CM3-h5Py{
    color: a.$CM3-Light;

}


.CM1-App{
    background-color: a.$CM1-Bg
}
.CM2-App{
    background-color: a.$CM2-Bg

}
.CM3-App{
    background-color: a.$CM3-Bg

}
.CM1-inputCheckbox{
    accent-color: a.$CM1-Acent;
    scale:1.2;
}
.CM2-inputCheckbox{
    accent-color: a.$CM2-Acent;
    scale:1.2;

}
.CM3-inputCheckbox{
    accent-color: a.$CM3-Acent;
    scale:1.2;

}
a{
    text-decoration: none;
}