

$CM1-Bg: #49243E;
$CM1-Dark: #704264;
$CM1-Neutro: #BB8493;
$CM1-Light: #DBAFA0;
$CM1-Light2:#eac5b9;
$CM1-Acent:#FF6F61 ;


$CM2-Bg: #2E0249;
$CM2-Dark: #570A57;
$CM2-Neutro: #A91079;
$CM2-Light: #F806CC;
$CM2-Light2:#ff6de4;
$CM2-Acent: #FFD700 ;


$CM3-Bg: #030637;
$CM3-Dark: #4d0a6a;
$CM3-Neutro: #b7128b;
$CM3-Light: #df38aa;
$CM3-Light2:#f177ca;
$CM3-Acent: #00CFFD ;


$Bg: #1e082c;
$Bg-Light: #dbaff6;